<div class="container">
    <div class="row">
        <h2>Binding</h2>
    </div>
    <div class="row">
        <p>Los binding basicamente son una herramienta de angular que nos permite hacer enlaces entre nuestra plantilla (html) y nuestro ts. Existen 4 tipos de binding </p>
        <ul>
            <li>interpolacion</li>
            <li>property binding</li>
            <li>event binding</li>
            <li>two-way binding </li>
        </ul>
    </div>
    <hr>
    <div class="row">
        <h3>Interpolacion</h3>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>La interpolacion es un mecanismo para poder sustituir una expresion por un valor y nos apoyaremos de los caracteres de las dobles llaves  
            </p>
        </div>

        <div class="col-md-3">
          <h4>Ejemplo:</h4>
          <ul>
            <li>{{unaVariable}}</li>
            <li>{{2+2}} -> Sin la interpolacion seria 2+2 </li>
            <li>{{retornarMensaje()}}</li>
          </ul>
        </div>

    </div>
    <hr>
    <div class="row">
        <h3>Property binding</h3>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>Es el mecanismo de angular para definir o enlazar propiedades del html desde nuestro codigo logico (ts) con los simbolos de corchetes "[" y "]"</p>
        </div>
        <div class="col-md-3">
            <h4>Ejemplo:</h4>
            <ul>
                <li>
                    <input type="text" [disabled]="unaVariableProperty">
                </li>
                <li>
                    <img [src]="unaImagen" [style.width.px]="100">
                </li>
                <li><button class="btn btn-primary" [hidden]="!unaVariableProperty">Hola soy un boton</button></li>
            </ul>
        </div>

    </div>
    <hr>
    <div class="row">
        <h3>Event binding</h3>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>Es un mecanismo de angular que sirve para subscribirse a los eventos realizados en el html y comunicarlos hacia el TS con los simbolos de parentesis "(" y ")"</p>
        </div>
        <div class="col-md-3">
            <h4>Ejemplo:</h4>
            <ul>
                <li><button class="btn btn-primary" (click)="saludar()">Dame click para saludar</button></li>
                <li><input type="text" (change)="cambiarMensaje()"></li>
                <li><button class="btn btn-success" (click)="mensajeBoton='Me clickaste'">{{mensajeBoton}}</button></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <h3>Two-way binding</h3>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>Es el mecanismo que nos da angular para comunicar de manera bidireccional nuestro modelo o en otras palabras comunicar los datos del ts al html e inverso.</p>
        </div>
        <div class="col-md-3">
            <h4>Ejemplo:</h4>
            <ul>
                <li><input type="text" [(ngModel)]="unaVariableTwoWay" name="unaVariableTwoWay"></li>
                <li>{{unaVariableTwoWay}}</li>
            </ul>

        </div>
    </div>
    
</div>
