<div class="container">
    <div class="row">
        <h4>Services</h4>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>
                Los services que son aquellos archivos que tienen subfijo ".service", cuyo objetivo principal es ser proveedor, gestor y/o modificador de nuestros datos.
            </p>
            <br>
            <p>Generalmente se usan para hacer peticiones a API</p>
            <br>
            <p>Tiene estructura similar a un component solo que en vez de usar el decorador component, usa el decorador @injector y para poder ser invocado en el module hay que ponerlo en el proveedor (y en algunos casos en el export)</p>
        </div>
        <div class="col-md-3">
            <h4>Ejemplo:</h4>
            <strong>Para ver un ejemplo puede entrar en shared/services, app.module y en el ts</strong>
        </div>
    </div>
</div>