<div class="container">
    <h4>Modulos</h4>
    <div class="row">
        <div class="col-md-9">
            <p>Los modulos basicamente son una forma de segmentar nuestro proyecto para poder distribuir las responsabilidades de manera independiente a cada modulo. Se podran importar, expotar y proveer</p>
            <br>
            <p>
                Es muy importante tener cuidado con referencias circulares o ciclicas, para importar podemos usar los mismos modulos o los routing. NOTA: todo routing tiene un hermano modulo pero no todo modulo tiene un hermano routing.
            </p>
        </div>
    </div>
</div>