<div class="container">
    <div class="row">
        <h4>Ciclos de vida (de un componente)</h4>
    </div>
    <div class="row">
        <div class="col-md-9">Un ciclo de vida son todos los eventos que suceden antes,durante y al finalizar un componente</div>
        <br>
        <p>Angular ofrece algo llamado hook y sirven para ejecutar en un determinado momento algun codigo que definamos</p>

    </div>
    <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/0*wEGNC-p9kA91tb8K.png">
    <hr>
</div>