<div class="container">
    <div class="row">
        <h4>Models</h4>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>Los modelos o data services(.models, .interface , entity) son un tipo de archivo de convenio donde vamos a definir lo que son las clases/interfaces que representan la estructura de datos de nuestra aplicacion con el fin de separar nuestra parte logica de la estructural de datos. Nos ayudaran a mantener un mejor orden en nuestra aplicacion, adicionalmente nos ayudara a que pueda escalar mucho mejor, indicar estructuras en diversos componentes y trabajar de manera global.</p>
            <br>
            <strong>Nos ayudara en la comunicacion con los types de nuestra aplicacion</strong>
        </div>
        <div class="col-md-3">
            <h4>Ejemplo:</h4>
            <strong>Verificar en la carpeta src/shared/models</strong>
        </div>
    </div>
    <hr>
</div>


