<div class="container" style="height: 20em; background-color: cadetblue;">
  <div class="row" style="height: 3em; background-color: pink; border: 3px solid black;">
    <div class="col-md-1" style="height: 3em; background-color: moccasin; border: 3px solid black;"></div>
    <div class="col-md-1" style="height: 3em; background-color: moccasin; border: 3px solid black;"></div>
    <div class="col-md-1" style="height: 3em; background-color: moccasin; border: 3px solid black;"></div>
    <div class="col-md-1" style="height: 3em; background-color: moccasin; border: 3px solid black;"></div>
    <div class="col-md-1" style="height: 3em; background-color: moccasin; border: 3px solid black;"></div>
    <div class="col-md-1" style="height: 3em; background-color: moccasin; border: 3px solid black;"></div>
    <div class="col-md-1" style="height: 3em; background-color: moccasin; border: 3px solid black;"></div>
    <div class="col-md-1" style="height: 3em; background-color: moccasin; border: 3px solid black;"></div>
    <div class="col-md-1" style="height: 3em; background-color: moccasin; border: 3px solid black;"></div>
    <div class="col-md-1" style="height: 3em; background-color: moccasin; border: 3px solid black;"></div>
    <div class="col-md-1" style="height: 3em; background-color: moccasin; border: 3px solid black;"></div>
    <div class="col-md-1" style="height: 3em; background-color: moccasin; border: 3px solid black;"></div>
  </div>
  <div class="row" style="height: 3em; background-color: pink; border: 3px solid black;">
  <h1>Hola soy el componente hijo</h1>
  </div>
  <div class="row" style="height: 3em; background-color: pink; border: 3px solid black;"></div>
</div>