<div class="container">
  <div class="row">
    <h4>React Form</h4>
  </div>
  <div class="row">
    <div class="col-md-9">
      <p>
        React form forma parte de la libreria ReactiveFormsModule de angular y
        nos sirve para crear formularios de manera reactiva. Gracias a esta
        libreria no dependemos del ngModel y nos facilita los proceso de manejo
        de valores, validaciones e incluso podemos crear nuestras propias
        validaciones.
      </p>
      <br /><br /><br />
      <p>
        Es indispensable importar en el module a ReactiveFormsModule y en el
        html tenemos que trabajar dentro de un elemento form que tendra la
        directiva formgroup , adicional cada input debe ir identificado con
        formControlName
      </p>
    </div>
    <div class="col-md-3">
      <h4>Ejemplo:</h4>
    </div>
  </div>
</div>
